/* 0. Make the body black with a solid red boarder. */


.body {
    background-color: black; 
    border-style: solid; 
    border-color: red; 
    border-width: 20px;
}

/* 1. Center all text and make it white. */

.text {
    color: white;
    text-align:center; 
}