/* Navigation header on all pages */
*{
     border: 0;
     margin: 0;
     outline: 0;
     padding: 0;
     text-decoration: none;
}
#header {
    margin: auto;
    height: 40px;
    width: 800px;
    position: static;
    border-style:solid;
    border-width:4px;
    border-color:red;
}
    #header ul {
         list-style: none;
    }
         #header li {
              z-index: auto;
         }
              #header ul li {
                   z-index: auto;
              }

#footer {
    margin: auto;
    height: 40px;
    position: static;
    border-style:solid;
    border-width:4px;
    border-color:red;
    color:green;
}